@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

body {
    font-family: "Modern Antiqua", sans-serif;
    background: url(../images/number-image.jpg);
    color: white;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

#game-section,
#gameArea {
    background-color: rgba(18, 179, 219, 0.6);
    width: 100%;
    margin: 100px 0;
    padding: 20px 20px;
}

#player-input {
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

p,
ul {
    font-weight: 400;
    font-size: 20px;
}

.rules-center {
    text-align: center;
    font-size: 20px;
}

.player-guess {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    padding-right: 10px;
}

#game-diff-buttons,
#submit-button-easy,
#input-field {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 25px;
    width: 130px;
}

.submit-answer-btn {
    margin-top: 20px;
}

.button-text {
    text-transform: uppercase;
    font-size: 18px;
}

#easy,
#easy-check {
    background-color: lightgreen;
}

#easy-check:hover {
    background-color: darkgreen;
    transition: 0.5s;
}

#medium,
#medium-check {
    background-color: yellow;
}

#medium-check:hover {
    background-color: darkorange;
    transition: 0.5s;
}

#hard,
#hard-check {
    background-color: red;
}

#hard-check:hover {
    background-color: darkred;
    transition: 0.5s;
}

#very-hard-check {
    background-color: red;
}

#very-hard-check:hover {
    background-color: darkred;
    transition: 0.5s;
}

#new-game {
    background-color: rgb(243, 29, 250);
    width: 150px;
}

#new-game:hover {
    background-color: rgb(148, 0, 123);
    transition: 0.5s;
}

.submit-answer-btn {
    padding: 10px 20px;
    border-radius: 25px;
}

.submit-answer-btn:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.5s;
}

#total-guesses {
    font-size: 20px;
    padding: 5px 10px;
}

#last-guess {
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
}

#less-or-more {
    font-size: 20px;
    text-align: center;
}

.rules-header {
    font-size: 20px;
}

@media screen and (max-width: 1160px) {

    .btn {
        margin: 20px 50px;
    }

}

@media screen and (max-width: 820px) {

    .btn {
        margin-bottom: 20px;
    }

    body {
        width: 80%;
        margin: 0 auto;
    }

    #total-guesses {
        font-size: 19px;
    }

}

@media screen and (max-width: 590px) {

    body {
        width: 80%;
        margin: 0 40px;
    }

    .btn {
        margin: 20px 20px;
    }

    #total-guesses {
        font-size: 18px;
    }
}

@media screen and (max-width: 440px) {

    body {
        width: 80%;
        margin: 0 20px;
    }

    .btn {
        margin: 10px 10px;
    }

    #player-input {
        margin-top: 20px;
    }

    #total-guesses,
    #last-guess,
    #less-or-more {
        font-size: 18px;
    }

}